# Video Game Sales

In [203]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

## Open And Print The .CSV File

In [191]:
vgsale = pd.read_csv('Game/vgsales.csv')
vgsale

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## Which company is the most common video game publisher?

In [205]:
most_pub = vgsale['Publisher'].mode()
most_pub[0]

'Electronic Arts'

## What’s the most common platform?

In [193]:
most_com_plat = vgsale['Platform'].mode()
most_com_plat[0]

'DS'

## What about the most common genre?

In [194]:
most_com_gen = vgsale['Genre'].mode()
most_com_gen[0]

'Action'

## What are the top 20 highest grossing games?

In [195]:
top_20 = vgsale[['Name','Global_Sales','NA_Sales']].sort_values(by='Global_Sales',ascending=False).head(20)
top_20

                                            Name  Global_Sales  NA_Sales
0                                     Wii Sports         82.74     41.49
1                              Super Mario Bros.         40.24     29.08
2                                 Mario Kart Wii         35.82     15.85
3                              Wii Sports Resort         33.00     15.75
4                       Pokemon Red/Pokemon Blue         31.37     11.27
5                                         Tetris         30.26     23.20
6                          New Super Mario Bros.         30.01     11.38
7                                       Wii Play         29.02     14.03
8                      New Super Mario Bros. Wii         28.62     14.59
9                                      Duck Hunt         28.31     26.93
10                                    Nintendogs         24.76      9.07
11                                 Mario Kart DS         23.42      9.81
12                   Pokemon Gold/Pokemon Silver         23.10      9.00
13                                       Wii Fit         22.72      8.94
14                                  Wii Fit Plus         22.00      9.09
15                            Kinect Adventures!         21.82     14.97
16                            Grand Theft Auto V         21.40      7.01
17                 Grand Theft Auto: San Andreas         20.81      9.43
18                             Super Mario World         20.61     12.78
19  Brain Age: Train Your Brain in Minutes a Day         20.22      4.75

## For North American video game sales, what’s the median?
* Provide a secondary output showing ten games surrounding the median sales output.
   * assume that games with same median value are sorted in descending order.

In [196]:
na_sales = vgsale['NA_Sales'].median()
na_sales
# x= vgsale[vgsale['Name']=='Spider-Man: Edge of Time']
# x

0.08

In [221]:
median = vgsale[['NA_Sales']].median()[0]
result = vgsale[vgsale['NA_Sales']==median]
leng = len(result)
result = result[(leng//2)-5:(leng//2)+5]
result

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9931,9933,Spider-Man: Edge of Time,3DS,2011.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9934,9936,Turok: Evolution,GBA,2002.0,Shooter,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.12
9957,9959,Deadpool,XOne,2015.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9996,9998,GT Advance 2: Rally Racing,GBA,2001.0,Racing,THQ,0.08,0.03,0.00,0.00,0.11
10000,10002,A Witch's Tale,DS,2009.0,Role-Playing,Nippon Ichi Software,0.08,0.00,0.03,0.01,0.11
10012,10014,Nickelodeon Dance,X360,2011.0,Misc,Take-Two Interactive,0.08,0.02,0.00,0.01,0.11
10020,10022,Phantasy Star Collection,GBA,2002.0,Role-Playing,Atari,0.08,0.03,0.00,0.00,0.11
10022,10024,LEGO Knights' Kingdom,GBA,2004.0,Action,THQ,0.08,0.03,0.00,0.00,0.11
10024,10026,Family Game Night 4: The Game Show,PS3,2011.0,Misc,Electronic Arts,0.08,0.02,0.00,0.01,0.11
10026,10028,NBA Jam 2002,GBA,2002.0,Sports,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.11

## For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [198]:
top_selling_game = top_20['NA_Sales'][0]
mean = vgsale['NA_Sales'].mean()
standard_deviation = vgsale['NA_Sales'].std()
result = (top_selling_game - mean) / standard_deviation
mean
top_selling_game
result

50.47898767479108

## The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [199]:
nintendo_average_sales = vgsale[vgsale['Platform']=='Wii']['Global_Sales'].mean()
other_platforms =  vgsale[vgsale['Platform'] != 'Wii']['Global_Sales'].mean()
nintendo_average_sales , other_platforms

(0.6994037735849057, 0.5233896418516336)

## Sort The Platforms From Highest Average Sales.

In [200]:
highest_av_sl = vgsale.groupby('Platform').mean().sort_values('Global_Sales',ascending=False)['Global_Sales']
highest_av_sl

Platform
GB      2.606633
NES     2.561939
GEN     1.050370
SNES    0.837029
PS4     0.827679
X360    0.774672
2600    0.729925
PS3     0.720722
Wii     0.699404
N64     0.686144
XOne    0.662254
PS      0.610920
PS2     0.581046
WiiU    0.572448
3DS     0.486169
GBA     0.387470
DS      0.380254
GC      0.358561
XB      0.313422
SCD     0.311667
DC      0.307115
PC      0.269604
PSP     0.244254
WS      0.236667
SAT     0.194162
PSV     0.149952
NG      0.120000
TG16    0.080000
GG      0.040000
3DO     0.033333
PCFX    0.030000
Name: Global_Sales, dtype: float64

## Which game has the highest sales in EU?

In [201]:
highest_EU_sl = vgsale.sort_values('EU_Sales',ascending=False).head(1)
highest_EU_sl

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

## Which game has the highest sales in JP?

In [202]:
highest_JP_sl = vgsale.sort_values('JP_Sales',ascending=False).head(1)
highest_JP_sl

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.0,31.37

In [212]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_pub[0], 'Electronic Arts')
    assert_equal(na_sales, 0.08)
    assert_equal(most_com_plat[0], 'DS')
    assert_equal(most_com_gen[0], 'Action')
    assert_equal(result, 50.47898767479108)
    assert_equal(other_platforms, 0.5233896418516336)
    assert_equal(nintendo_average_sales, 0.6994037735849057)

    print("Success!!!")

test()

Success!!!